@CHARSET "UTF-8";

.data_table_row:hover {
	background-color: #FFDDDD
}

.data_table_row.alignment_highlighted:hover {
	background-color: #DD0000
}

.alignment_highlighted {
	background-color: red
}

circle.scatter-dot {
	fill: green
}
circle.scatter-dot.danger {
	fill: red
}

.align-monospace {
	line-height:100%;
	font-family:Consolas, Monaco, Lucida Console, Liberation Mono,
				DejaVu Sans Mono,Bitstream Vera Sans Mono,
				Courier New, monospace;
	font-size:14px;
}

th.header-sort-button:hover {
	
	background-color: #DDDDFF;
	cursor:pointer;
}

tr.search-result:hover {
	
	background-color: #DDFFDD;
	cursor:pointer;
}