@CHARSET "UTF-8";

.equal {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: auto;
}
.equal > div[class*='col-'] > div[class='panel panel-default'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
}

.data_table_row:hover {
	background-color: #FFDDDD
}

.data_table_row.alignment_highlighted:hover {
	background-color: #DD0000
}

.alignment_highlighted {
	background-color: red
}

circle.scatter-dot {
	fill: rgb(126, 193, 255)
}
circle.scatter-dot.danger {
	fill: red
}

.align-monospace {
	line-height:100%;
	font-family:Consolas, Monaco, Lucida Console, Liberation Mono,
				DejaVu Sans Mono,Bitstream Vera Sans Mono,
				Courier New, monospace;
	font-size:14px;
}

textarea.pdb-input {
	font-family:Consolas, Monaco, Lucida Console, Liberation Mono,
				DejaVu Sans Mono,Bitstream Vera Sans Mono,
				Courier New, monospace;
}

th.header-sort-button:hover {
	
	background-color: #DDDDFF;
	cursor:pointer;
}

td.delete-job-id:hover, td.show-job-input:hover {
	
	background-color: #DDDDFF;
	cursor:pointer;
}

tr.search-result {

	cursor:pointer;
}
